body
{
	padding: 0;
	margin: 0;
	background-color:#FFCCCC;
	box-shadow:inset -12px -12px 22px rgba(255, 250, 250, 0.25), inset 10px 10px 22px rgba(214, 149, 149, 0.72);

}

h1{
	text-align:center;
	position:relative;
}

nav
{
	background-color:black;
	color:#FFCCCC;
	font-weight:900;
}

.mail-view
{
	position:absolute;
	top:40%;
	left:40%;
	font-size:30px;
	color:black;
}
.content-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 1.2em;
min-width: 1300px;
position: absolute;

left: 25px;
top: 10%;
border-radius: 5px 5px 0 0;
overflow: hidden;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
background-color: #de6558;
color: #ffffff;
text-align: left;
font-weight: 900;
}

.content-table th,
.content-table td {
padding: 22px 15px;
}

.content-table tbody tr {
border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
border-bottom: 2px solid #de6558;
}

#sub, #sub>a
{
	text-decoration:none;
	color:red;
	font-size:110%;
	font-weight:900;
}
.email-ids
{
	list-style-image:url("/static/img/mailsent.png");
	
}

